.cart-style {
  /* background-color: #0a192f; */
  /* background-color: #2b2b35;
  background-color: black; */
  height: 550px;
  background-color: rgba(226, 235, 241, 0.945);
}
.image-style {
  width: 100%;
  height: 320px;
}
.image-style:hover {
  transform: scale(1.1);
  transition: transform 1s;
  padding: 10px;
}

.image-style:hover {
  box-shadow: 0px 0px 5px 5px gray;
  background-color: rgb(34, 36, 37);
  color: ivory;
}

@media only screen and (max-width: 740px) {
  .cart-style {
    height: 550px;
  }
  .cart-style h3 {
    font-size: 22px;
  }
  .cart-style p {
    font-size: 12px;
  }
  .cart-style span {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .cart-style {
    height: 450px;
  }
  .cart-style h3 {
    font-size: 22px;
  }
  .cart-style p {
    font-size: 12px;
  }
  .cart-style span {
    font-size: 12px;
  }
}
